.container {
  display: block;
  position: fixed;
  height: 1000px;
  width: 1000px;
}
svg {
  display: block;
  position: fixed;

  height: 1000px;
  width: 1000px;
}

.main {
  fill: none;
  stroke: #93caf9;
  stroke-width: 3px;
}
.hourly {
  fill: none;
  stroke: #f3e4f6;
  stroke-width: 1.5px;
}
.wind {
  fill: white;
  stroke: #cf93d7;
}
.humidity {
  fill: white;
  stroke: #cf93d7;
}
.temp {
  fill: none;
  stroke: #41a5f5;
  stroke-width: 2.5px;
}

form {
  position: fixed;
  top: 257px;
  left: 361px;
}

h1 {
  position: fixed;

  top: 128px;
  left: 465px;
}

h1 {
  color: #006ec5;
}
h3 {
  position: fixed;

  color: #ab47bc;
  top: 200px;
  left: 380px;
}

.wind2 {
  position: fixed;
  font-size: 18px;
  left: 220px;
  top: 390px;
}

.humidity2 {
  position: fixed;
  left: 755px;
  top: 390px;
}

.wind3 {
  position: fixed;
  font-size: 60px;
  left: 155px;
  top: 365px;
}

.humidity3 {
  position: fixed;
  font-size: 60px;
  left: 810px;
  top: 365px;
}

.temp1 .temp1-emoji {
  font-size: 75px;
  position: fixed;
  left: 473px;
  top: 365px;
}

.temp1 .temp1-val {
  font-size: 90px;
  position: fixed;
  left: 460px;
  top: 450px;
  color: orange;
}

.temp1 .temp1-unit {
  position: fixed;
  font-size: 30px;
  color: lightgray;
  top: 575px;
  left: 486px;
}

.hourly-temp1 .emoji {
  position: fixed;
  font-size: 30px;
  left: 196px;
  top: 546px;
}

.hourly-temp1 .time {
  position: fixed;
  left: 189px;
  top: 591px;
}

.hourly-temp2 .emoji {
  position: fixed;
  font-size: 30px;
  left: 307px;
  top: 695px;
}

.hourly-temp2 .time {
  position: fixed;
  left: 305px;
  top: 738px;
}

.hourly-temp3 .emoji {
  position: fixed;
  font-size: 30px;
  left: 498px;
  top: 753px;
}

.hourly-temp3 .time {
  position: fixed;
  left: 495px;
  top: 796px;
}

.hourly-temp4 .emoji {
  position: fixed;
  font-size: 30px;
  left: 687px;
  top: 699px;
}

.hourly-temp4 .time {
  position: fixed;
  left: 687px;
  top: 738px;
}

.hourly-temp5 .emoji {
  position: fixed;
  font-size: 30px;
  left: 798px;
  top: 548px;
}

.hourly-temp5 .time {
  position: fixed;
  left: 794px;
  top: 589px;
}

.currentLoc {
  display: block;
  position: fixed;
  font-size: 20px;
  top: 257px;
  left: 610px;
  font-family: inherit;
  font-size: inherit;
  border-radius: 5px;
  background-color: paleturquoise;
  border-width: 0.15ch;
}
